@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.colorfulText {
  background: linear-gradient(90deg, #406aff 0%, #ce07df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: linear-gradient(
    163deg,
    rgba(255, 255, 255, 0.5) -54.7%,
    rgba(255, 255, 255, 0) 140.1%
  );
}
